<div class="navbar">
  <!-- Topo -->
  <div class="navbar-top">
    <!-- <div class="navbar-logo">
      <a href="{{ '/' | relative_url }}">Meu Blog</a>
    </div> -->
 <!-- Botão hamburger -->
  <div class="navbar-toggle" onclick="toggleMenu()">☰</div>
<!-- Busca no mobile -->
  <div class="navbar-search-mobile">
    <form action="{{ '/search' | relative_url }}" method="get">
      <input type="text" name="query" placeholder="Buscar...">
    </form>
  </div>
  </div>

  <!-- Links -->
  <div class="navbar-links">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/sobre' | relative_url }}">Sobre</a>
    <a href="{{ '/arquivo' | relative_url }}">Arquivo</a>
  </div>

  <!-- Busca desktop -->
  <div class="navbar-right">
    <form action="{{ '/search' | relative_url }}" method="get">
      <input type="text" name="query" placeholder="Buscar...">
    </form>
  </div>
</div>
