<!-- <div class="search-box">
  <input
    type="text"
    id="search-input"
    placeholder="Buscar..."
    autocomplete="off"
    spellcheck="false"
  />
  <ul id="search-results" class="search-results"></ul>
</div> -->
<div class="avatar">
  <img src="/assets/img/avatar/avatar.jpeg" alt="Foto de perfil">
</div>
<h2>Sobre Mim</h2>
<p>Rafael Zenaro de Oliveira. Apaixonado por tecnologia, desenvolvimento e cultura retrô.</p>
<div class="social-icons">
  <a href="https://github.com/zenaror" target="_blank" rel="noopener" aria-label="GitHub">
	<i class="fab fa-github"></i>
  </a>
	<div class="social-icons">
  <a href="https://www.linkedin.com/in/rafael-zenaro" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
<a href="https://www.buymeacoffee.com/zenaro147" target="_blank">
  <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 55px !important;width: 200px !important;" >
</a>

<!-- <h2>Links</h2>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/sobre">Sobre</a></li>
  <li><a href="/arquivo">Arquivo</a></li>
</ul> -->
<h2>Últimos Posts</h2>
<ul>
  {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
