<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link
  	rel="stylesheet"
  	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	/>
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% include navbar.html %}
    </div>
  </header>

  <div class="container content">
    <main class="main">
      {{ content }}
    </main>

    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>
  </div>

  {% include footer.html %}
<script>
function toggleMenu() {
  const navbar = document.querySelector('.navbar');
  navbar.classList.toggle('active');
}
</script>

  <script src="/assets/js/search.js"></script>
</body>
</html>
